@font-face {
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 100 900;  /* Note the range of weights */
  font-display: swap;
  src: url('PlusJakartaSans-VariableFont_wght.woff2') format('woff2'),
       url('PlusJakartaSans-VariableFont_wght.woff') format('woff');
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  font-style: italic;
  font-weight: 100 900;  /* Note the range of weights */
  font-display: swap;
  src: url('PlusJakartaSans-Italic-VariableFont_wght.woff2') format('woff2'),
       url('PlusJakartaSans-Italic-VariableFont_wght.woff') format('woff');
  unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'Benguiat';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(BenguiatStd-Book.woff2) format('woff2'),
			 url(BenguiatStd-Book.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'Quatrocento';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(QuatroCento-Regular.woff2) format('woff2');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'Quatrocento';
	font-style: bold;
	font-weight: 700;
	font-display: swap;
	src: url(QuatroCento-Bold.woff2) format('woff2');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'Trajan';
	font-style: regular;
	font-weight: 700;
	font-display: swap;
	src: url(TrajanPro-Regular.woff2) format('woff2');
	unicode-range: U+0-10FFFF;
}