:root { 
  font-family: 'Plus Jakarta Sans Var', Helvetica, Arial,sans-serif; 
}
@supports (font-variation-settings: normal) {
  :root { 
    font-family: 'Plus Jakarta Sans Var', Helvetica, Arial,sans-serif;
    font-variation-settings: "wght" 400;
  }
}